# Datasets (archivos pesados - no subir al repo)
*.csv
!exports_tableau/*.csv
archivos/
archivos_enriquecidos/

# Jupyter
.ipynb_checkpoints/
__pycache__/

# OS
.DS_Store
Thumbs.db

# Python
*.pyc
*.pyo
.env
venv/
